<!-- POLYMER ELEMENT IMPORTS -->
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../bower_components/app-layout/app-layout.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/effects/waterfall.html">

<!-- CUSTOM ELEMENT IMPORTS -->



<dom-module id="card-song">
  <template>
    <style include=" iron-flex iron-flex-factors iron-flex-alignment iron-positioning">
      :host{
        display: block;
        padding: 16px;
        min-height:64px;
        @apply --layout-horizontal;
      }

    </style>
    <span class='flex'>{{title}}</span>
    <div class=''>
      <paper-icon-button icon='save'></paper-icon-button>
      <paper-icon-button icon='delete'></paper-icon-button>
      <paper-icon-button icon='folder-open'></paper-icon-button>
    </div>

  </template>

  <script>
    class CardSong extends Polymer.Element{
      static get is() {return 'card-song';}
      static get properties(){
        return {
          title: {notify: true,value:'title'},
          isSaved: {notify: true, value: false},
        };
      }
      static get observers(){
        return [

        ];
      }
      static get listeners(){
        return {

        };
      }
      constructor() {
        super();
      }
      ready() {
        super.ready();
        console.log('card-song ready')
      }
    }
    window.customElements.define(CardSong.is,CardSong);

  </script>
</dom-module>
