<!-- POLYMER ELEMENT IMPORTS -->
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/polymer/polymer-element.html">

<!-- CUSTOM ELEMENT IMPORTS -->



<dom-module id="youtube-dl">
  <template>
    <style include=" iron-flex iron-flex-factors iron-flex-alignment iron-positioning">
      :host{
        display: block;
        padding: 0px;
        min-height:96px;
        @apply --layout-vertical;
        /*@apply --self-stretch;*/
        @apply --layout-flex;
        text-shadow: 1px 1px rgba(0,0,0,.5);

      }
      .status span{
        width:50%;
      }
      paper-input{
        margin: 5px 0px;
        --paper-input-container: {
          background: rgba(0, 0, 0, 0.45);
          border-radius: 12px;
          padding: 3px;
          text-align: center;
        };
        --paper-input-container-underline: {
           display: none;
         };
         --paper-input-container-underline-focus: {
           display: none;
         };
         --paper-input-container-underline-disabled: {
           display: none;
         };
        --paper-input-container-input-color: white;
      }
      paper-progress, span.msg{
        width:100%;
        --paper-progress-transition-duration: 0.5s;
        --paper-progress-transition-timing-function: ease;
        --paper-progress-transition-transition-delay: 0s;
      }
      .status{
        /*text-shadow: 1px 1px rgba(0,0,0,.5);*/
        color:gold;
        font-size: x-small;
        /*text-align: center;*/
      }
      paper-icon-button{
        color: gold;
      }

    </style>
    <div class='layout horizontal center'>
      <paper-input no-label-float class='flex' placeholder='enter a youtube url' value='{{url}}'></paper-input>
      <paper-icon-button icon='cloud-download' on-click='_downloadSong'></paper-icon-button>
    </div>
    <div class='status layout horizontal wrap'>
      <paper-progress value='{{status.progress.percentage}}'></paper-progress>
      <span class='layout vertical msg'>STATUS: {{statusMSG}}</span>
      <span class='layout vertical '>ETA: {{status.progress.eta}} secs</span>
      <span class='layout vertical '>DOWNLOADED: {{status.progress.transferred}}</span>
      <span class='layout vertical '>REMAINING: {{status.progress.remaining}}</span>
    </div>

  </template>

  <script>
    class YoutubeDl extends Polymer.Element{
      static get is() {return 'youtube-dl';}
      static get properties(){
        return {
          url: {notify: true,value:'https://www.youtube.com/watch?v=pzhctd7n_fA'},
          destination: {notify: true,value:__dirname+'/download_folder'},
          ffmpeg: {notify: true},
          api: {notify: true},
          videoID: {notify: true, computed: '_videoID(url)'},
          progress: {notify: true, computed: '_progess(status)'},
          statusMSG: {notify: true, value: '...'},
          status: {notify: true},
        };
      }
      static get observers(){
        return [
          '_api(ffmpeg)',
        ];
      }
      static get listeners(){
        return {
        };
      }
      constructor() {
        super();
      }
      ready() {
        super.ready();
      }
      _videoID(url){
        return url.split('v=')[1];
      }
      _progess(status){
        console.log(status)
        return status.progress.percentage;
      }
      _api(ffmpeg){
        this.YoutubeDownloader = require('youtube-mp3-downloader');
        this.api = new this.YoutubeDownloader({
            "ffmpegPath": ffmpeg.path,        // Where is the FFmpeg binary located?
            "outputPath": this.destination,    // Where should the downloaded and encoded files be stored?
            "youtubeVideoQuality": "highest",       // What video quality should be used?
            "queueParallelism": 2,                  // How many parallel downloads/encodes should be started?
            "progressTimeout": 2000                 // How long should be the interval of the progress reports
        });
        this.api.on("finished", function(err, data) {
            console.log(JSON.stringify(data));
            // this.status.progress.percentage = 'done'
        }.bind(this));

        this.api.on("error", function(error) {
            console.log(error);
        });
        this.api.on("progress", this._onProgress.bind(this));
        console.log('youtube-dl ready')
        console.log('api: ',this.api);
        console.log('ffmpeg: ',this.ffmpeg);
        console.log('destination: ',this.destination);
      }
      _onProgress(progress) {
          this.status=progress;
          console.log(this.status)
      }
      _downloadSong(e){
        console.log('downloading: ',this.videoID)
        this.statusMSG = 'trying to download video: ID=' + this.videoID;
        this.api.download(this.videoID)
      }
    }
    window.customElements.define(YoutubeDl.is,YoutubeDl);

  </script>
</dom-module>
